

        <div class="app-main__inner" style="margin: 50px;">
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="lnr-pencil text-info">
                                    </i>
                                </div>
                                <div>Pre-registro en línea
                                    <div class="page-title-subheading">
                                    </div>
                                </div>
                            </div>
                            <div class="page-title-actions">
                                
                                <div class="d-inline-block dropdown">
                                    <!-- Por favor llena los campos  -->
                                   
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link">
                                                    <i class="nav-link-icon lnr-inbox"></i>
                                                    <span>
                                                        Inbox
                                                    </span>
                                                    <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link">
                                                    <i class="nav-link-icon lnr-book"></i>
                                                    <span>
                                                        Book
                                                    </span>
                                                    <div class="ml-auto badge badge-pill badge-danger">5</div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link">
                                                    <i class="nav-link-icon lnr-picture"></i>
                                                    <span>
                                                        Picture
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a disabled="" class="nav-link disabled">
                                                    <i class="nav-link-icon lnr-file-empty"></i>
                                                    <span>
                                                        File Disabled
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>    </div>
                    </div>  
                              <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                        
                    </ul>
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Por favor llena los campos y da click en "Continuar"</h5>
                            <form #heroForm="ngForm" id="signupForm" class="col-md-10 mx-auto" method="post" action="#" novalidate="novalidate">
                                <div class="form-group">
                                    <label for="firstname">Nombre</label>
                                    <div>
                                        <!-- <input type="text" class="form-control is-valid" id="firstname" name="firstname" placeholder="First name" aria-invalid="false"> -->
                                        <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"class="alert alert-danger"> -->
                                            <input type="text" class="form-control" id="name"
    required maxlength="100" minlength="2"
   [(ngModel)]="participante.nombre" name="nombre" #nombre="ngModel" placeholder="Escribe tu nombre...">
   <!-- <input  style=" margin-top: 10px;" type="number" class="form-control" required
                              [(ngModel)]="participante.nombre"
                              name="numeroEmpleado"
                              #numeroEmpleado="ngModel" placeholder="numeroEmpleado"> -->
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="lastname">Apellido</label>
                                    <div>
                                        <input type="text" class="form-control" id="name"
    required maxlength="100" minlength="2"
    [(ngModel)]="participante.apellido" name="apellido" #apellido="ngModel" placeholder="Escribe tu apellido...">
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="username">Puesto</label>
                                    <div>
                                        <input type="text" class="form-control" id="name"
    required maxlength="100" minlength="2"
    ngModel name="puesto"
    [(ngModel)]="participante.puesto" #puesto="ngModel" placeholder="Escribe tu puesto...">
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <div>
                                        <!-- <input type="text" class="form-control is-valid" id="email" name="email" placeholder="Email" aria-describedby="email-error" aria-invalid="false"><em id="email-error" class="error invalid-feedback" style="display: none;"></em> -->
                                        <input type="text" class="form-control" id="email"
    required maxlength="100" minlength="3"
    [(ngModel)]="participante.email" name="email" #email="ngModel" placeholder="Escribe tu email...">
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="password">Oficinas Coldwell Banker</label>
                                    <input type="text" class="form-control" id="name"
    required maxlength="100" minlength="2"
    [(ngModel)]="participante.oficinas" name="oficina" #oficinas="ngModel" placeholder="Escribe tu Oficina Coldwell Banker...">
                                </div>
        
                                <div class="form-group">
                                    <label for="confirm_password">Estado</label>
                                    <div>
                                        <select class="mb-2 form-control" [(ngModel)]="participante.estado" name="estado" #estado="ngModel">
                                                <option value="Aguascalientes">Aguascalientes</option>
                                                <option value="Baja California">Baja California</option>
                                                <option value="Baja California Sur">Baja California Sur</option>
                                                <option value="Campeche">Campeche</option>
                                                <option value="Chiapas">Chiapas</option>
                                                <option value="Chihuahua">Chihuahua</option>
                                                <option value="Coahuila">Coahuila</option>
                                                <option value="Colima">Colima</option>
                                                <option value="Ciudad de México">Ciudad de México</option>
                                                <option value="Durango">Durango</option>
                                                <option value="Estado de México">Estado de México</option>
                                                <option value="Guanajuato">Guanajuato</option>
                                                <option value="Guerrero">Guerrero</option>
                                                <option value="Hidalgo">Hidalgo</option>
                                                <option value="Jalisco">Jalisco</option>
                                                <option value="Michoacán">Michoacán</option>
                                                <option value="Morelos">Morelos</option>
                                                <option value="Nayarit">Nayarit</option>
                                                <option value="Nuevo León">Nuevo León</option>
                                                <option value="Oaxaca">Oaxaca</option>
                                                <option value="Puebla">Puebla</option>
                                                <option value="Querétaro">Querétaro</option>
                                                <option value="Quintana Roo">Quintana Roo</option>
                                                <option value="San Luis Potosí">San Luis Potosí</option>
                                                <option value="Sinaloa">Sinaloa</option>
                                                <option value="Sonora">Sonora</option>
                                                <option value="Tabasco">Tabasco</option>
                                                <option value="Tamaulipas">Tamaulipas</option>
                                                <option value="Tlaxcala">Tlaxcala</option>
                                                <option value="Veracruz">Veracruz</option>
                                                <option value="Yucatán">Yucatán</option>
                                                <option value="Zacatecas">Zacatecas</option>
                                          
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Teléfono</label>
                                    <input type="text" class="form-control" id="name"
    required maxlength="10" minlength="10"
    [(ngModel)]="participante.telefono" name="telefono" #telefono="ngModel" placeholder="Escribe tu teléfono a 10 dígitos...">
                                </div>
        
                                <!-- <div class="form-group">
                                    <div>
                                        <div class="form-check">
                                            <input type="checkbox"  id="agree" name="agree" value="agree" class="form-check-input is-invalid" aria-describedby="agree-error" 
                                            ngModel name="politica" #participante.politica="ngModel" placeholder="Escribe tu teléfono a 10 dígitos...">
                                            <label class="form-check-label">Por favor acepta nuestra política de privacidad</label><em id="agree-error" class="error invalid-feedback">para continuar</em>
                                        </div>
                                    </div>
                                </div> -->
        
                                <div class="form-group">
                                    <button type="submit"(click)="crearRegistro(participante)"[disabled]="heroForm.invalid" class="btn btn-primary" name="signup" id="guardarbtn"  value="Sign up">Continuar</button>
                                    
                                </div>
                                <div class="form-group">
                                    <a  href="https://www.e-eventos.com/cbm/enp20/index.php#" class="btn btn-primary" >Salir</a>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">
                            <!---->
                            <div class="app-footer-left">
                                <ul class="header-megamenu nav">
                                    <li class="nav-item">
                                        <a data-placement="top" rel="popover-focus" data-offset="300" data-toggle="popover-custom" class="nav-link" data-original-title="" title="">
                                            ©2020 ColdwellBanker® Real Estate Corporation.<br> Coldwell Banker®
  es marca registrada de Coldwell Banker Real Estate Corporation.®
                                            
                                        </a>
                                        
                                    </li>
                                    
                                    
                                   
                                </ul>
                            </div>
                            <div class="app-footer-right">
                                <ul class="header-megamenu nav">
                                    
                                    <li class="nav-item">
                                        <a data-placement="top"href="https://www.coldwellbanker.com.mx/aviso_privacidad?of=" target="_blank" rel="popover-focus" data-offset="300" data-toggle="popover-custom" class="nav-link" data-original-title="" title="">
                                           Aviso de privacidad
                                            
                                        </a>
                                        
                                    </li>
                                    <li class="nav-item">
                                            <a href="https://www.facebook.com/coldwellmexico/" target="_blank"  class="facebook "></a>
                                    </li>

                                    <li class="nav-item">
                                        <td width="40"><a href="https://www.instagram.com/coldwellmexico/?hl=en" target="_blank"  class="instagram"></a>
                                </li>

                                <li class="nav-item">
                                    <a href="https://twitter.com/coldwellmexico" target="_blank"  class="twitter"></a>
                            </li>

                            <li class="nav-item">
                                <a href="https://www.youtube.com/channel/UCUYaSjDTmaKic3z50JJtxTA" target="_blank"  class="youtube"></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.linkedin.com/company/coldwellbankermexico" target="_blank"  class="linkedin"></a>
                    </li>

                                   
                                </ul>
                            </div>
                        
                        </div>
                    </div>
                </div>
            
            </div>
           
        </div>
         
        