<!-- <footer>
    <div class="container">
     <div class="row">	
     <article class="span12">
        <div class="row">
        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td width="49%" rowspan="2"> <p>&nbsp;&nbsp;©2015 ColdwellBanker® Real Estate Corporation. Coldwell Banker® <br>
      &nbsp;&nbsp;es marca registrada de Coldwell Banker Real Estate Corporation.® </p></td>
    <td width="51%" valign="bottom"><table width="235" height="22" border="0" align="right" cellpadding="0" cellspacing="0">
    <tbody><tr>
      <td width="40"><a href="https://www.facebook.com/coldwellmexico/" target="_blank" class="facebook"></a></td>
      <td width="40"><a href="https://www.instagram.com/coldwellmexico/?hl=en" target="_blank" class="instagram"></a></td>
      <td width="40"><a href="https://twitter.com/coldwellmexico" target="_blank" class="twitter"></a></td>
      <td width="40"><a href="https://www.youtube.com/channel/UCUYaSjDTmaKic3z50JJtxTA" target="_blank" class="youtube"></a></td>    
      <td width="40"><a href="https://www.linkedin.com/company/coldwellbankermexico" target="_blank" class="linkedin"></a></td>
  
    </tr>
    </tbody></table></td>
  </tr>
  
  <tr>
    <td valign="top"><p align="right"><a href="https://www.coldwellbanker.com.mx/aviso_privacidad?of=" target="_blank">Aviso  de privacidad</a>&nbsp;&nbsp;&nbsp;</p></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">&nbsp;</td>
  </tr>
  </tbody></table>
        
          <div align="center"></div>
        </div>
      </article>
      </div>
      
      <div class="row">	
         <article class="span11">
         <div class="row">
            <div align="right"></div>
          </div>
          </article>
  &nbsp;        
      <article class="span5">
                  <div align="center">
                   
          </div>
        </article>
        <article class="span7">
                  <div align="center">
                     
          </div>
        </article>
          </div>
          </div>   
  </footer> -->